@model IEnumerable<RCTS_Prod.Models.Store>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") &nbsp&nbsp
    @Html.ActionLink("Back to Checks", "Create", "Checks")
</p>
<table>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.StoreID)*@
            <b>Store ID</b>&nbsp&nbsp
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Store_City)*@
            <b>Store City</b>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Store_State)*@
            <b>Store State</b>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.StoreID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store_State)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StoreID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StoreID })
        </td>
    </tr>
}

</table>
