@model RCTS_Prod.Models.Bank

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Bank</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bank_Phone_No)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bank_Phone_No)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bank_Street)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bank_Street)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bank_City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bank_City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bank_State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bank_State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bank_Zip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bank_Zip)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
