@model IEnumerable<RCTS_Prod.Models.Check>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account.Routing_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.Store_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Check_PasserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Check_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Check_Received)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Payment_Received)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee_Received)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.Routing_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Store_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Check_PasserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Check_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Check_Received)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Payment_Received)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee_Received)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CheckID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CheckID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CheckID })
        </td>
    </tr>
}

</table>
