@model RCTS_Prod.Models.Letter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Letter</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Letter_Text_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Letter_Text_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Check_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Check_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Letter_One_Sent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Letter_One_Sent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Letter_One_Received)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Letter_One_Received)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Letter_Two_Sent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Letter_Two_Sent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Letter_Two_Received)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Letter_Two_Received)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Letter_Three_Sent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Letter_Three_Sent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Letter_Three_Received)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Letter_Three_Received)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Letter_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
