@model RCTS_Prod.Models.Check

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Check</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account.Routing_No)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account.Routing_No)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Store.Store_City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Store.Store_City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Check_PasserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Check_PasserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Check_No)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Check_No)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_Check_Received)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_Check_Received)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_Payment_Received)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_Payment_Received)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fee_Received)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fee_Received)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CheckID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
