@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Letter3</title>
</head>
<body>
    <div>
        RCTS<br />
1700 Wade Hampton Blvd.<br />
Greenville, SC  29614<br />
<br />
<br />



@ViewBag.ch.Check_Passer.First_Name &nbsp @ViewBag.ch.Check_Passer.Last_Name<br />
@ViewBag.ch.Check_Passer.Street<br />
@ViewBag.ch.Check_Passer.City, @ViewBag.ch.Check_Passer.State  @ViewBag.ch.Check_Passer.Zip<br /><br />

        We are summoning you to court.
<br /><br />
If you have any questions or concerns, please contact us.

<br /><br />
Bob Simmons<br />
RCTS Manager
    </div>
</body>
</html>
