@model IEnumerable<RCTS_Prod.Models.Check>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintAll</title>
</head>
<body>



@{foreach (var item in Model) {
    if (item.Letter_Text_ID == 1) {
            <div>
                RCTS<br />
        1700 Wade Hampton Blvd.<br />
        Greenville, SC  29614<br />
        <br />
        <br />



        @Html.DisplayFor(modelItem => item.Check_Passer.First_Name) &nbsp @Html.DisplayFor(modelItem => item.Check_Passer.Last_Name) <br />
        @Html.DisplayFor(modelItem => item.Check_Passer.Street)<br />
        @Html.DisplayFor(modelItem => item.Check_Passer.State), @Html.DisplayFor(modelItem => item.Check_Passer.State)  @Html.DisplayFor(modelItem => item.Check_Passer.Zip)<br /><br />






        This is a reminder that you owe RCTS the total of $@Html.DisplayFor(modelItem => item.Amount). To avoid incurring late fees, please pay your remaining balance within two weeks of receiving this letter. 
        <br /><br />
        If you have any questions or concerns, please contact us.

        <br /><br />
        Bob Simmons<br />
        RCTS Manager

            </div>
    
            {<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}


  
  } if (item.Letter_Text_ID == 2) {
      <div>
                RCTS<br />
        1700 Wade Hampton Blvd.<br />
        Greenville, SC  29614<br />
        <br />
        <br />



        @Html.DisplayFor(modelItem => item.Check_Passer.First_Name) &nbsp @Html.DisplayFor(modelItem => item.Check_Passer.Last_Name) <br />
        @Html.DisplayFor(modelItem => item.Check_Passer.Street)<br />
        @Html.DisplayFor(modelItem => item.Check_Passer.State), @Html.DisplayFor(modelItem => item.Check_Passer.State)  @Html.DisplayFor(modelItem => item.Check_Passer.Zip)<br /><br />






        This is the second reminder that you owe RCTS the total of $@Html.DisplayFor(modelItem => item.Amount). A late fee of $20 has been incurred, please pay your remaining balance within two weeks of receiving this letter. 
        <br /><br />
        If you have any questions or concerns, please contact us.

        <br /><br />
        Bob Simmons<br />
        RCTS Manager

            </div>
    
            {<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}

  
  } else if (item.Letter_Text_ID == 3) {
        <div>
                RCTS<br />
        1700 Wade Hampton Blvd.<br />
        Greenville, SC  29614<br />
        <br />
        <br />



        @Html.DisplayFor(modelItem => item.Check_Passer.First_Name) &nbsp @Html.DisplayFor(modelItem => item.Check_Passer.Last_Name) <br />
        @Html.DisplayFor(modelItem => item.Check_Passer.Street)<br />
        @Html.DisplayFor(modelItem => item.Check_Passer.State), @Html.DisplayFor(modelItem => item.Check_Passer.State)  @Html.DisplayFor(modelItem => item.Check_Passer.Zip)<br /><br />






        We are summoning you to court.
        <br /><br />
        If you have any questions or concerns, please contact us.

        <br /><br />
        Bob Simmons<br />
        RCTS Manager

            </div>
    
            {<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}{<br />}

  }
    
    
}
    
}


</body>
</html>