@model RCTS_Prod.Models.Letter

@{
    ViewBag.Title = "Create Letter";
}

<h2>Create Letter</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Letter</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Letter_Text_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Letter_Text_ID)
            @Html.ValidationMessageFor(model => model.Letter_Text_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Check_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Check_ID)
            @Html.ValidationMessageFor(model => model.Check_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Letter_One_Sent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Letter_One_Sent)
            @Html.ValidationMessageFor(model => model.Letter_One_Sent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Letter_One_Received)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Letter_One_Received)
            @Html.ValidationMessageFor(model => model.Letter_One_Received)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Letter_Two_Sent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Letter_Two_Sent)
            @Html.ValidationMessageFor(model => model.Letter_Two_Sent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Letter_Two_Received)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Letter_Two_Received)
            @Html.ValidationMessageFor(model => model.Letter_Two_Received)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Letter_Three_Sent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Letter_Three_Sent)
            @Html.ValidationMessageFor(model => model.Letter_Three_Sent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Letter_Three_Received)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Letter_Three_Received)
            @Html.ValidationMessageFor(model => model.Letter_Three_Received)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
