@model RCTS_Prod.Models.Letter

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Letter</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Letter_Text_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Letter_Text_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Check_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Check_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Letter_One_Sent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Letter_One_Sent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Letter_One_Received)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Letter_One_Received)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Letter_Two_Sent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Letter_Two_Sent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Letter_Two_Received)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Letter_Two_Received)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Letter_Three_Sent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Letter_Three_Sent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Letter_Three_Received)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Letter_Three_Received)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
