@model RCTS_Prod.Models.Bank

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Bank</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Routing_No)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Routing_No)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bank_Phone_No)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bank_Phone_No)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bank_Street)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bank_Street)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bank_City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bank_City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bank_State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bank_State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bank_Zip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bank_Zip)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Routing_No }) |
    @Html.ActionLink("Back to List", "Index")
</p>
